.inline-img {
  display: inline-block;
  height: calc(var(--font-size-local) * var(--line-height-local));
}

.inline-img img {
  height: 100%;
  width: auto;
}

.icon {
  display: flex;
  justify-content: center;
  height: 100%;
  aspect-ratio: 1;
}
