:root {
  --lightness-50: 97%;
  --lightness-100: 92.89%;
  --lightness-200: 87%;
  --lightness-300: 77.46%;
  --lightness-400: 71.07%;
  --lightness-500: 61.75%;
  --lightness-600: 56.57%;
  --lightness-700: 49.03%;
  --lightness-800: 43.72%;
  --lightness-900: 36.25%;
  --lightness-950: 28.61%;
  --chroma-50: 0.025;
  --chroma-100: 0.0352;
  --chroma-200: 0.0613;
  --chroma-300: 0.12;
  --chroma-400: 0.1599;
  --chroma-500: 0.217;
  --chroma-600: 0.241;
  --chroma-700: 0.26;
  --chroma-800: 0.238;
  --chroma-900: 0.204;
  --chroma-950: 0.17;
  --color-white: oklch(100% 0 0);
  --color-black: oklch(0% 0 0);
  --color-gray-50: oklch(98.51% 0 0);
  --color-gray-100: oklch(97.02% 0 0);
  --color-gray-200: oklch(92.19% 0 0);
  --color-gray-300: oklch(86.99% 0 0);
  --color-gray-400: oklch(72.55% 0 0);
  --color-gray-500: oklch(55.55% 0 0);
  --color-gray-600: oklch(43.86% 0 0);
  --color-gray-700: oklch(36% 0 0);
  --color-gray-800: oklch(26.86% 0 0);
  --color-gray-900: oklch(20.46% 0 0);
  --color-gray-950: oklch(14.48% 0 0);
  --color-accent-50: oklch(96% 0.025 285.9);
  --color-accent-100: oklch(92.89% 0.0352 286.79);
  --color-accent-200: oklch(87% 0.0613 286.47);
  --color-accent-300: oklch(77.46% 0.12 285.92);
  --color-accent-400: oklch(71.07% 0.1599 286.15);
  --color-accent-500: oklch(61.75% 0.217 285.92);
  --color-accent-600: oklch(56.57% 0.241 285.97);
  --color-accent-700: oklch(52.05% 0.26 286.13);
  --color-accent-800: oklch(46.7% 0.238 286);
  --color-accent-900: oklch(40.25% 0.204 285.83);
  --color-accent-950: oklch(33.13% 0.17 286.19);
  --border-radius-2: 2px;
  --border-radius-4: 4px;
  --border-radius-8: 8px;
  --border-radius-12: 12px;
  --border-radius-16: 16px;
  --border-radius-20: 20px;
  --border-radius-24: 24px;
  --border-radius-max: calc(infinity * 1px);
  --font-size-10: 0.625rem;
  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-30: 1.875rem;
  --font-size-36: 2.25rem;
  --font-size-48: 3rem;
  --font-size-56: 3.5rem;
  --font-size-64: 4rem;
  --font-size-72: 4.5rem;
  --font-size-96: 6rem;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-450: 450;
  --font-weight-500: 500;
  --font-weight-550: 550;
  --font-weight-600: 600;
  --font-weight-650: 650;
  --font-weight-700: 700;
  --font-family-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-family-serif: "ZT Bros Oskon 90s", "Apple Garamond", "Baskerville",
    "Times New Roman", "Source Serif Pro", serif;
  --font-family-mono: ui-monospace, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --line-height-100: 1;
  --line-height-120: 1.2;
  --line-height-130: 1.3;
  --line-height-140: 1.4;
  --line-height-150: 1.5;
  --line-height-160: 1.6;
  --space-4: 4px;
  --space-6: 6px;
  --space-8: 8px;
  --space-10: 10px;
  --space-12: 12px;
  --space-14: 14px;
  --space-16: 16px;
  --space-20: 20px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-56: 56px;
  --space-64: 64px;
  --space-80: 80px;
  --space-96: 96px;
  --space-120: 120px;
  --space-140: 140px;
  --space-180: 180px;
  --box-shadow-default: inset 0 0 0 1px
      light-dark(var(--color-white), var(--color-gray-800)),
    inset 0 4px 4px 0 light-dark(oklch(0% 0 0 / 5%), oklch(0% 0 0 / 18%)),
    inset 0 -14px 40px -20px
      light-dark(oklch(0% 0 0 / 12%), oklch(0% 0 0 / 20%)),
    0 0 3px 0 light-dark(oklch(0% 0 0 / 12%), oklch(0% 0 0 / 40%));
  --box-shadow-floating: inset 0 0 0 1px
      light-dark(oklch(100% 0 0), oklch(100% 0 0 / 8%)),
    0 0 0 1px light-dark(oklch(0% 0 0 / 8%), oklch(0% 0 0 / 40%)),
    0 16.08px 12px light-dark(oklch(0% 0 0 / 1.88%), oklch(0% 0 0 / 12.37%)),
    0 9.02px 10.58px light-dark(oklch(0% 0 0 / 1.67%), oklch(0% 0 0 / 10.67%)),
    0 4.79px 8.76px light-dark(oklch(0% 0 0 / 1.67%), oklch(0% 0 0 / 8.72%)),
    0 1.99px 3.6px light-dark(oklch(0% 0 0 / 1.5%), oklch(0% 0 0 / 5.83%));
}
