section-landing-hero {
  & section {
    padding-top: var(--space-240);
    padding-bottom: var(--space-96);
  }

  & h1, & h2 {
    margin-bottom: var(--space-20);
    font-family: var(--font-family-serif);
    font-size: var(--font-size-local);
    --font-size-local: var(--font-size-48);
    --line-height-local: var(--line-height-120);
    flex-wrap: wrap;
    align-items: flex-end;
    display: inline-flex;
  }

  & p {
    line-height: var(--line-height-160);
    color: light-dark(var(--color-gray-700), var(--color-gray-400));
  }

  & .intro {
    padding-bottom: var(--space-96);
  }

  & .dim {
    color: var(--color-gray-500);
  }

  & .stack {
    aspect-ratio: 1;
    cursor: pointer;
    height: 100%;
    position: relative;

    & .card {
      padding: var(--space-12);
      background-color: var(--color-bg);
      color: var(--color-icon);
      border-radius: var(--border-radius-20);
      box-shadow: inset 0 3px 2px var(--color-shadow-2), inset 0 -3px 2px var(--color-shadow-3);
      width: 90%;
      height: 90%;
      transition: transform .2s ease-in-out;
      position: absolute;
    }

    & .card:first-of-type {
      --color-bg: light-dark(#d3c7ff, #7648fe);
      --color-icon: light-dark(#7648fe, #e3dbff);
      --color-shadow-1: light-dark(#e3dbff, #7648fe);
      --color-shadow-2: light-dark(#e3dbff, #8a67fe);
      --color-shadow-3: light-dark(#b9a5fe, #6631f6);
    }

    & .card:nth-of-type(2) {
      --color-bg: light-dark(#bef4d6, #1b985f);
      --color-icon: light-dark(#1b985f, #dffbeb);
      --color-shadow-1: light-dark(#dffbeb, #1b985f);
      --color-shadow-2: light-dark(#f4fff9, #2caf70);
      --color-shadow-3: light-dark(#8be9b5, #16794c);
    }

    & .card:nth-of-type(3) {
      --color-bg: light-dark(#fee9a4, #dd9803);
      --color-icon: light-dark(#b8780a, #fef6d7);
      --color-shadow-1: light-dark(#fef6d7, #dd9803);
      --color-shadow-2: light-dark(#fef6d7, #f2ad0d);
      --color-shadow-3: light-dark(#fdd872, #b8780a);
    }

    & .card[data-position="1"] {
      z-index: 10;
    }

    & .card[data-position="2"] {
      z-index: 1;
      transform: translateY(10%)scale(.95);
    }

    & .card[data-position="3"] {
      z-index: -1;
      transform: translateY(20%)scale(.9);
    }

    & .icon path {
      filter: drop-shadow(0 2px 2px light-dark(oklch(0% 0 0 / .25), oklch(0% 0 0 / .4)));
    }

    & .swap {
      animation: 1s cubic-bezier(.175, .885, .32, 1.275) forwards swap;
    }
  }

  & .monitor {
    aspect-ratio: 1;
    border-radius: var(--border-radius-16);
    background: linear-gradient(to top, light-dark(#eeddd2, #3d3d3d), light-dark(#f9f2ed, #525252));
    justify-content: center;
    align-items: start;
    height: 60px;
    padding: 2px;
    display: flex;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 3.37px light-dark(oklch(0% 0 0 / .16), oklch(0% 0 0 / .2)), 0 10.12px 8.09px light-dark(oklch(0% 0 0 / .1), oklch(0% 0 0 / .2)), 0 3.37px 6.74px light-dark(oklch(0% 0 0 / .2), oklch(0% 0 0 / .4));

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      box-shadow: inset 0 0 13.49px light-dark(#f3e9e3, #171717), inset 0 -4.72px 5.4px light-dark(oklch(0% 0 0 / .25), #262626);
    }

    & .bevel {
      border-radius: var(--border-radius-16);
      background-color: #0000;
      background-image: linear-gradient(to bottom right, light-dark(#857268, #1a1a1a) -20%, light-dark(#d9cec7, #4c4c4c) 80%), linear-gradient(to bottom left, light-dark(#857268, #1a1a1a) -20%, light-dark(#d9cec7, #4c4c4c) 80%);
      background-position: 100% 100%, 0 100%;
      background-repeat: no-repeat;
      background-size: 50%;
      background-attachment: scroll, scroll;
      background-origin: padding-box, padding-box;
      background-clip: border-box, border-box;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 44px;
      display: flex;
      box-shadow: 0 0 .67px 2.02px light-dark(#f3e9e4, #737373);
    }

    & .screen {
      border-radius: var(--border-radius-12);
      background: #001801;
      width: 85%;
      height: 80%;
      padding: 4px;
      box-shadow: inset -4px 0 4px oklch(100% 0 0 / .1), inset 4px 0 4px oklch(100% 0 0 / .1);
    }

    & .text {
      font-family: var(--font-family-mono);
      color: var(--text-color);
      text-shadow: 0 0 3px var(--text-color);
      --text-color: #91f273;
      font-size: 10px;
      line-height: 1.4;
      display: block;
    }

    & .typing:before {
      content: "";
      animation: 12s infinite typing;
    }

    & .typing:after {
      content: "";
      border-right: 1px solid var(--text-color);
      animation: .5s linear infinite caret;
    }
  }

  & .description {
    padding: var(--space-64) 0;
    --font-size-local: var(--font-size-16);
    --line-height-local: var(--line-height-140);
    max-width: 480px;

    & p:first-of-type {
      margin-bottom: var(--space-32);
    }

    & a {
      color: light-dark(var(--color-accent-700), var(--color-accent-400));
    }

    & a:hover {
      color: light-dark(var(--color-accent-800), var(--color-accent-300));
    }
  }

  & .work {
    padding-top: var(--space-64);
    gap: var(--space-48);
    flex-direction: column;
    display: flex;
    container: work / inline-size;
  }

  & .skills {
    gap: var(--space-24);
    grid-template-columns: repeat(4, 1fr);
    display: grid;

    & .card {
      padding: var(--space-24);
      cursor: pointer;
      background-color: light-dark(var(--color-gray-100), var(--color-gray-900));
      color: var(--color-icon);
      border-radius: var(--border-radius-24);
      --color-icon: light-dark(oklch(0% 0 0 / .58), oklch(100% 0 0 / .5));
      --color-icon-glow: light-dark(oklch(0% 0 0 / .5), oklch(100% 0 0 / .34));
      --color-card-shadow: light-dark(oklch(0% 0 0 / .01), oklch(100% 0 0 / .02));
      --color-card-glow: light-dark(oklch(0% 0 0 / .36), oklch(100% 0 0 / .16));
      justify-content: center;
      align-items: center;
      display: flex;
      position: relative;
      overflow: hidden;
      box-shadow: 0 0 0 1px light-dark(oklch(0% 0 0 / .05), oklch(0% 0 0 / .2));

      & .icon path {
        filter: drop-shadow(0 2px 3px var(--color-icon-glow)) drop-shadow(0 0 20px var(--color-icon-glow));
        transition: all .2s;
      }
    }

    & .card:before {
      content: "";
      border-radius: var(--border-radius-24);
      box-shadow: inset 0 -2px 2px var(--color-card-shadow), inset 0 2px 2px light-dark(oklch(100% 0 0), oklch(100% 0 0 / .06)), inset 0 40px 40px light-dark(oklch(100% 0 0 / .2), oklch(100% 0 0 / .01));
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    & .card:after {
      content: "";
      background: var(--color-card-glow);
      border-radius: var(--border-radius-max);
      filter: blur(24px);
      width: 48px;
      height: 48px;
      transition: all .4s;
      position: absolute;
      bottom: -30%;
    }

    & .card:hover {
      &:after {
        bottom: -20px;
      }
    }

    & .card:has( > icon-php):hover {
      --color-icon: light-dark(oklch(54.76% .203 278.26), oklch(81.75% .0916 278.26));
      --color-icon-glow: light-dark(oklch(54.76% .203 278.26 / .5), oklch(81.75% .0916 278.26 / .5));
      --color-card-shadow: light-dark(oklch(45.76% .203 278.26 / .2), oklch(70.75% .0916 278.26 / .5));
      --color-card-glow: light-dark(oklch(40.76% .203 278.26 / .9), oklch(70.75% .0916 278.26 / .8));
    }

    & .card:has( > icon-postgres):hover {
      --color-icon: light-dark(oklch(50.47% .1 257.12), oklch(78.96% .0759 257.12));
      --color-icon-glow: light-dark(oklch(50.47% .1 257.12 / .4), oklch(75.96% .0759 257.12 / .4));
      --color-card-shadow: light-dark(oklch(44.47% .1 257.12 / .2), oklch(68.96% .0759 257.12 / .5));
      --color-card-glow: light-dark(oklch(44.47% .1 257.12 / .9), oklch(68.96% .0759 257.12 / .8));
    }

    & .card:has( > icon-figma):hover {
      --color-icon: light-dark(oklch(49.9% .1872 293), oklch(75.58% .126 293));
      --color-icon-glow: light-dark(oklch(49.9% .1872 293 / .4), oklch(75.58% .126 293 / .4));
      --color-card-shadow: light-dark(oklch(42.9% .1872 293 / .2), oklch(69.58% .126 293 / .5));
      --color-card-glow: light-dark(oklch(42.9% .1872 293 / .9), oklch(69.58% .126 293 / .8));
    }

    & .card:has( > icon-photoshop, icon-typescript):hover {
      --color-icon: light-dark(oklch(48.12% .1148 243.61), oklch(78.96% .1037 243.61));
      --color-icon-glow: light-dark(oklch(48.12% .1148 243.61 / .4), oklch(78.96% .1037 243.61 / .4));
      --color-card-shadow: light-dark(oklch(48.12% .1148 243.61 / .2), oklch(78.96% .1037 243.61 / .4));
      --color-card-glow: light-dark(oklch(48.12% .1148 243.61 / .9), oklch(78.96% .1037 243.61 / .8));
    }

    & .card:has( > icon-lambda, icon-illustrator):hover {
      --color-icon: light-dark(oklch(61.55% .151 43.18), oklch(76.95% .1334 43.18));
      --color-icon-glow: light-dark(oklch(61.55% .151 43.18 / .4), oklch(76.95% .1334 43.18 / .4));
      --color-card-shadow: light-dark(oklch(54.55% .151 43.18 / .2), oklch(68.95% .1334 43.18 / .36));
      --color-card-glow: light-dark(oklch(61.55% .151 43.18 / .9), oklch(76.95% .1334 43.18 / .66));
    }
  }
}

@keyframes swap {
  50%, 60% {
    transform: translateY(-115%)scale(.95)rotate(10deg);
  }

  100% {
    transform: translateY(20%)scale(.9)rotate(0);
  }
}

@keyframes typing {
  0%, 98% {
    content: "";
  }

  4%, 94% {
    content: "H";
  }

  8%, 90% {
    content: "HE";
  }

  12%, 86% {
    content: "HEL";
  }

  16%, 82% {
    content: "HELL";
  }

  20%, 78% {
    content: "HELLO";
  }

  24%, 74% {
    content: "HELLO ";
  }

  28%, 70% {
    content: "HELLO W";
  }

  32%, 66% {
    content: "HELLO WO";
  }

  36%, 62% {
    content: "HELLO WOR";
  }

  40%, 58% {
    content: "HELLO WORL";
  }

  44%, 54% {
    content: "HELLO WORLD";
  }

  48%, 50% {
    content: "HELLO WORLD;";
  }
}

@keyframes caret {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@media (prefers-reduced-motion) {
  section-landing-hero {
    & .stack .swap {
      animation: none;
    }

    & .monitor .typing:before {
      content: "HELLO WORLD;";
      animation: none;
    }

    & .monitor .typing:after {
      animation: none;
    }
  }
}

@media (width <= 576px) {
  section-landing-hero {
    & section {
      padding-top: var(--space-180);
    }

    & h1, & h2 {
      --font-size-local: var(--font-size-36);
      --line-height-local: var(--line-height-140);
    }

    & .stack {
      & .card {
        border-radius: var(--border-radius-16);
      }
    }

    & .monitor {
      border-radius: var(--border-radius-12);
      height: 54px;

      & .bevel {
        border-radius: var(--border-radius-12);
        height: 38px;
      }

      & .screen {
        border-radius: var(--border-radius-12);
        width: 90%;
        height: 85%;
      }

      & .text {
        font-size: 8.4px;
      }
    }
  }
}

@container work (width <= 480px) {
  section-landing-hero {
    & .skills {
      gap: var(--space-20);
      grid-template-columns: repeat(3, 1fr);

      & .card {
        padding: 6cqw;
      }
    }
  }
}

@container work (width <= 340px) {
  section-landing-hero {
    & .skills {
      gap: var(--space-16);
      grid-template-columns: repeat(2, 1fr);

      & .card {
        padding: 8cqw;
      }
    }
  }
}
